* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
table, th, td {
    border: 1px solid;
    padding: 2px;
    border-collapse: separate;
    border-spacing: 0px;
}